@page "/"
@inject IGameProfileService _profileService

<h1>Game profiles</h1>

<ul>
    @foreach(var item in _gameProfiles)
    {
        <li>@item.Nickname</li>
    }
</ul>


@code
{
    private IEnumerable<GameProfile> _gameProfiles;


    protected override void OnInitialized()
    {
        _gameProfiles = _profileService.GetGameProfiles();
    }
}
